start report*/
/*all left right*/

html, body{
	font-family: Nirmala UI;
	
}

.report{
	
	z-index: 2 !important;
	margin-top: -26px;
	padding-left: 305px;
}

.n-vartical{	
	padding-bottom: 350px;
	box-shadow: -4px 0px 9px;
	height: 600px;
}
.n-report-z{
	
background-color: #F8FAFC;

width: 74px;
color: black;
text-shadow: -2px 0px 5px;
}

.n-attendancen-n-loop{
	width: 124px;
}

.n-learn-play{
	z-index: 3;
	margin-top: -32px;
	padding-left: 760px;
}
.n-second-rullerjs{
	box-shadow: -1px 0px 3px;
}

.h-remakepare{
	margin-top: -69px;
}

.n-play{
	box-shadow: -2px 0px 5px;
	box-decoration-break: 20px;
	color: black;
	padding: 10px;
	background-color: #F8FAFC
;
	transition: 0.6s ease;
}
.n-play:hover{
	color: #B8B7B7
;
	transition: 0.6s ease;
}
.n-forstudents-2{	margin-top: -23px;
	padding-left: 940px;
}.n-leave-out{	margin-top: -23px;
	padding-left: 1111px;
}
.n-ruller{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 55px;}
.n-papper{
	font-size: 22px;
	padding-right: 15px;
	color: #6A6868
;
}
.n-attendance-for{
	font-size: 15px;
	padding-right: 140px;
	
}
.n-double{
	color: black;
	transition: 0.6s ease;
}
.n-double:hover{
	color: #B8B7B7
;
	transition: 0.6s ease;
}
.n-student-for{
	font-size: 15px;
}
.h-ul-student{
	background-color: rgba(63,62,62,0.5);
}
.n-teacher-h{
	width: 84px;
}
.n-teacherper-h{
	width: 194px;
}
.n-teacheredit-h{
	width: 139px;
}
.report{
	margin-top: -38px;
	margin-left: -321px;
}
.n-attendance-h{
	width: 127px;
}
.n-studentdep-h{
	width: 233px;
}
.n-stu_edit-h{
	width: 141px;
}
.n-studentper-h{
	width: 196px;
}
.n-stuclass-h{
	width: 159px;
}
.n-studperso-h{
	width: 196px;
}
.n-forstude-h{
	width: 131px;
}










.n-double{
	color: black;
	transition: 0.3s ease;
}
.n-double:hover{
	color: #B8B7B7
;	transition: 0.3s ease;
}
.n-student-for{
	font-size: 15px;
}
/*.n-teacher-for{
	padding-right: 162px;
}
.n-report-forfor{
	padding-right: 178px;
}
.n-message-for{
	padding-right: 160px;
}*/
.n-forstudents-icon{
	font-size: 16px;
	padding-left: 129px;
	color: #6A6868

}
.n-forstudents-icon:hover{
	color: #B8B7B7
;
}
.n-forjs{
	
	padding-top: 20px;}
.n-forjs a{
	padding-right: 108px;
	text-decoration: none;
	color: #6A6868
}
.n-forjs a:hover{
	color: black;}
.n-forjs ul{
	list-style: none;
	padding-left: 75px;}
.n-back-lop{
	font-size: 16px;
	padding-left: 127px;
}
.n-fomular{
	padding-right: 150px;
}

/*end report*/
/*all left right*/


/*for hnin javascript*/

#h-cross{
	padding-left: 273px;
	font-size: 20px;
	color: red!important;
}
/*for hnin javascript*/

/*h-form-row*/
.h-form-row{
	padding-top: 40px;
}

/*h-form-row*/









/*start attendance*/

.h-attendance{
	width: 124px;
}
/*end attendance*/




/*start students*/

.h-student{
	width: 89px;
}
.newforcontainer{
	
	margin-top: 30px;
	
	margin-left: 60px;
}
.n-fornameone{
	font-size: 35px;
	text-shadow: -1px 0px 5px;

}

/*end students*/





/*start message*/
.h-message{
	width: 94px;

}
.n-forsearch{
	margin-left: 842px;
}
.newmessage{
	margin-top: 20px;
	text-align: right;
}
.n-textcolor{
	border-radius: 30px 30px 3px 30px;
	background-color: #01a197;
	text-align: center;
	color: white;
}
.fafa-naing{
	font-size: 17px;
	color: #f56954;
}
/*end message*/


/*start teacher*/
.h-teacher{
	width: 90px;
}
.n-loop-margin{
	margin-bottom: 20px;
	width: 100%;
	
}

.img {
  width: 400px;}
.n-imagemap{
	width: 200px;
	height: 200px;
	border-radius: 50%;	
}
.none-imagemap{

		width: 47%;
	height: 100px;
	border-radius: 50%;	
}
.h-loop-value{
	margin-right: 30px;
	color:#87918e;
}
.n-nameforloop{
	text-align: initial;
	margin-left: 417px;
	margin-bottom: 13px;
	border-bottom: 1px solid #01a197;
	width: 271px;
}
.n-oneimg{
	margin-bottom: 30px;
}
.a-text-color{
	margin-left: 41px;
}
.b-text-color{
	margin-left: 55px;
}
.c-text-color{
	margin-left: 47px;
}

.e-text-color{
	margin-left: 31px;
}
.n-forkeyone{
	margin-top: 38px;
}
.n-primary{
	box-shadow: -1px 0px 3px black;
	color: black;
	padding: 4px 25px;
	margin-left: 533px;
}
.n-primary:hover{
	color: #01a197;
}

/*end teacher*/



/*only for students*/
.h-forstudents{
	margin-top: 30px;
}

.h-studentscolums{
	margin: 20px;
	font-size: 20px;
	padding-top: 50px;
	text-align: center;

}

.h-forstudentsend{
	width: 129px;
}

.h-iconforcheck{
	font-size: 55px;
}

.h-reportfil{
	width: 700px;

}
.n-paddingfor{
	padding-top: 50px;
}
/*end only for students*/


/*student_departmemt*/
.h-student-department{
	width: 133px;
}
.h_stu_department{
	margin-left: 70px;
	margin-top: 5px;
}
.n-stu-department{
	margin-top: 9px;
}
.h_stu_department a{

	color: black;
	font-size: 19px;
	text-decoration: none;
	text-shadow: -2px 0px 5px;
}

.n-guan-firstrow{
	margin-left: 45px;
}
.n-loopimagefirst{
	width: 100px;
height: 100px;
border-radius: 50%;
}
/*end student_department*/


/*interface class*/
.h-student-class{
	width: 53px;
}

.h-textdecoration{
	text-shadow: none !important;
	font-size: .9rem !important;
}

/*end interface class



/*Check Box*/
.h-checkbox{
	color: red;
	font-weight: bold;
	margin-top: 40px;
}
.inputcheck{
	width: 30px;
}

/*End Check Box*/



/* Table*/
.h-td-padd{
	width: 300px!important;
	height: 50px!important;
}
.h-td-present{
	width: 100px;
	
}

/*End Table*/

/*Leave_Out*/
.n-leaveout-h{
	width: 115px;
}

/*Leave_out*/